<containerless/>

<div class="inline-block text-justify text-sm font-normal">
  <div class="inline text-gray-700">
    For more information about this application, refer to the
    <a class="text-sky-700 underline decoration-sky-400"
      href="https://fwmotion.com/projects/skymiles-estimator/">project page</a>.
  </div>
  <div class="inline text-red-700 font-medium">
    Skymiles Estimator is not affiliated in any way with Delta or the Delta SkyMiles program. No guarantees,
    whether explicit or implied, are offered about the accuracy and correctness of this software. Use at your own risk.
  </div>
  <div class="inline text-gray-700">
    Airport codes, segment distances, earning rules, and other data may be added or updated periodically.
  </div>
</div>
