<import from="converters/decimal-places-converter"></import>
<import from="behaviors/type-binding-behavior"></import>

<bindable name="label"></bindable>
<bindable name="value" mode="two-way"></bindable>

<containerless/>

<label class="block">
  <div class="block text-sm font-medium text-gray-700 select-none">
    ${label}
  </div>
  <div class="block flex rounded-md shadow-sm">
    <div
      class="inline-flex items-right pl-3 pr-1 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm select-none">
      USD $
    </div>
    <input
      class="flex-1 block w-full pl-1 pr-3 focus:ring-teal-600 focus:border-teal-600 rounded-none rounded-r-md sm:text-sm border-gray-300 selection:bg-teal-600 selection:text-white"
      type="number"
      step="0.01"
      placeholder="0.00"
      value.bind="value | decimalPlaces:2 & debounce:800 & type:'number'"
      focus.trigger="$event.target.select()"/>
  </div>
</label>
