<bindable name="label"></bindable>

<containerless/>

<label class="block">
  <div class="block text-sm font-medium text-gray-700 select-none">
    ${label}
  </div>
  <select class="block px-1 w-full focus:ring-teal-600 focus:border-teal-600 rounded-md sm:text-sm border-gray-300"
          value.bind="selected">
    <option model.bind="null"></option>
    <option repeat.for="airportCode of available"
            model.bind="airportCode">
      ${renderAirportName(airportCode)}
    </option>
  </select>
</label>
